@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body, #root, .App{
  width: 100%;
  height: 100%;
}

html, body{
  overflow: hidden;
  background-color: #f7f7f7;
  /* font-family: 'Open Sans', sans-serif !important; */
  /* font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

#root{
  overflow: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ck-editor__editable:not(.ck-editor__nested-editable) { 
  min-height: 400px;
}

.header .banner-controller{
  visibility: hidden;  
}

.header:hover .banner-controller{
  visibility: visible;  
}

.post-banner img{
  display: block;
  object-fit: cover;
  border-radius: 0px;
  width: 100%;
  height: 30vh;
  opacity: 1;
  object-position: center 40%;
}

.dragsort--noAnim,.dragsort--noAnim~[draggable]{transition:none!important}.dragsort--dragStart .dragsort--dragElem{opacity:0}.dragsort--dragStart .dragsort--hide{width:0!important;height:0!important}.dragsort--dragStart>*{transition:.18s cubic-bezier(.6, .1, .4, 1.2)}.dragsort--dragStart>*>*{pointer-events:none}

.cover{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}