@import "@yaireo/tagify/dist/tagify.css";

html, body, #app {
  height: 100%;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: 16px Arial;
  background: #f5f5f5;
}

#app > *{ padding: 0 1.5rem; }

body .tagify {
  /* margin-bottom: 3em; */
  --tag-bg: #6C0E42;
  --tag-text-color: white;
  --tag-text-color--edit: var(--tag-bg);
  --tag-hover: rgb(162,8,56);
  --tag-remove-btn-color: white;
}

header{
  color: white;
  background: #111;
  background: linear-gradient(145deg,rgb(162,8,56) 0%,rgb(54,20,75) 100%);
  
  text-align: center;
  margin-bottom: 2em;
  padding: 1.5rem !important;
  border-bottom: 1px solid #CCC;
}
header h1{ margin:0 0 1em; }
header a{ color: inherit; font-style: italic; text-decoration: none; border-radius: 8px; padding: .22em; margin: -.22em; }
header a:hover{ background: rgba(white, .12); }

nav > a{
    color: white;
    margin: 0 1em;
    padding: .8em;
    border-radius: 6px;
    text-decoration: none;
  }
nav .active{ background:rgba(black,.25); }

h2{ 
  margin:0 0 1em 0;
}

.clearAllBtn{
  float: right;
  margin-bottom: .5em;
  margin-right: 1.5rem;
}

.clearAllBtn + div { clear: both; }

.tagify__tag>div{
  padding: 0 2px;
}

.tagify {
  align-items: center;
}

/* .tagify__tag__removeBtn{
  display: none
} */

.tagify__tag{
  background-color: #f7e3e3;
  color: #4c2337;
  border-radius: 4px;
  padding: 2px;
}

.tagify__tag-text{
  color: black;
}

.tagify__tag > div::before{
  content: none;
}

x.tagify__tag__removeBtn{
  display: none;
}

.tagify__tag-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}

.tagify__input::before{
  content: "+";
  opacity: 1;
}

.tagify{
  border: none;
  position: absolute;
}